@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

body {
    font-family: 'Odibee Sans', cursive;
    color:white;
    background-color: rgb(3, 24, 34);
}
p {
    margin: 0;
}
.textStyle{
    width: 25vw;
    height: 4rem;
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}
tr td button{
    border:.2rem solid rgb(255, 255, 255);
    background-color: transparent;
}
.title {
    font-size: 4rem;
}
.reset {
    /* max-width: 10%; */
    color: white;
    font-size: 1.1rem;
    padding: .6rem 1.5rem .6rem 1.5rem;
    border-color: white;
}

#result {
    font-size: 2rem;
    display: none;
    margin: 1rem 1rem 1rem 5rem;
}

.score{
    margin: .2rem;
}

.total-match {
    /* margin-top: -30rem; */
}